@page  "/Admin/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/lstyle.css" />
</head>

<div class="login">
    <h1>Login</h1>
    <form id="account" method="post">

        <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Input.Username"  placeholder="Username"  class="form-control" />
            <span asp-validation-for="Input.Username"class="text-danger"></span>

            <input asp-for="Input.Password"  placeholder="Password"  class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <button type="submit" class="btn btn-primary btn-block btn-large">Log in</button>

    </form>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
